div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 15%;
    height: 7vw;
    padding: 1%;
    font: 1vw sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.department {
    fill:#3e9e2b;
}

.div_filtres {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.center_txt {
  text-align: center;
  font: 3vw sans-serif;
}

#line_chart > svg > g > path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#map{
  width:50%
}

#container_graphique{
  width:50%
}

.nomVille{
  font-weight: bold;
  margin-bottom: 5%;
}

#datepicker{
  width: 15%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font: 2vw sans-serif;
}

@media (min-width: 576px) {
  #container_graphique{
    float:left;
  }
  #map{
    float:left;
  }
  #datepicker{
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: 1vw sans-serif;
  }
}

@media (max-width: 576px) {
  #container{
    transform: scale(1.8);
    margin-top : 50%
  }
  #map{
    transform: scale(1.1);
    margin-top: 5px !important;
    margin: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  #container_graphique{
    margin: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  #datepicker{
    width: 28%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: 2vw sans-serif;
  }
}
