<<<<<<< HEAD
div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 275px;
    height: 37px;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.department {
    fill:green;
=======
.div_filtres {
  flex-direction: :row;
  display: flex;
>>>>>>> f3d1e625af126e2eecbf6ab76ae4fa39d088f5ea
}
