div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 15%;
    height: 7vw;
    padding: 1%;
    font: 1vw sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.department {
    fill:#3e9e2b;
}

.div_filtres {
  margin: 0 auto;
  max-width: 179.6px;
}

.center_txt {
  text-align: center;
  font: 4vw sans-serif;
}

#datepicker {
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

#line_chart > svg > g > path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#day_line_chart > svg > g > path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus .circle_pluvio {
    fill: steelblue;
}

.focus .circle_temp {
    fill: red;
}

.focus text {
    font-size: 14px;
}

.tooltip_graph {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-pluvio, .tooltip-temp {
    font-weight: bold;
}

.nomVille{
  font-weight: bold;
  margin-bottom: 5%;
}

@media (min-width: 992px) {
  #map, #container_graphique{
    float:left;
    width:50%;
  }
  #container_graphique{
    padding-left:5%;
  }
  #line_chart, #day_line_chart{
    width:75%;
  }
}
